body {
  padding-top: 50px;
  padding-bottom: 20px;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Ubuntu', sans-serif;
}

.container h3 {
  font-family: 'Montserrat', sans-serif;
}

.container h2 {
  color: #627085;
}

.container h3 {
  color: #696969;
}

.contact-info dl {
  margin-bottom: 5px;
}

.skills li {
  list-style-type: none;
}

.skills li:nth-child(even) {
  background-color: #F9F9F9;
}

.skills ul {
  padding-left: 0;
}

.skills .ratings {
  font-size: 0.8em;
  padding-left: 14px;
  color: gray;
  float: right;
}

.projects .panel-heading > h3 {
  float: left;
}

.projects .employee {
  float: left;
}

.projects .panel {
  box-shadow: 0 0 7px -2px silver;
}

.projects .info-panel {
  font-size: 0.85em;
  margin-top: 5px;
}

.projects .project-title .role {
  margin-right: 10px;
  font-size: 0.75em;
  font-style: italic;
  color: #999;
}

.projects .project-description {
  text-align: justify;
}

.projects .employee {
  color: #777;
  font-size: 0.9em;
}

.projects .link {
  float: left;
  font-family: sans-serif;
  margin-right: 7px;
  border-right: 1px dotted silver;
  padding-right: 7px;
}

.projects .technology code {
  margin: 1px;
  background-color: #f8f8f8;
}

.projects .technology {
  float: right;
  font-family: monospace;
}

.projects .date {
  color: gray;
  font-size: 0.85em;
  white-space: nowrap;
  float: right;
}

.projects .rowNum {
  width: 20px;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen {
  .contact-info {
    margin-top: 30px;
  }  
}

@media print {
  .print-page-break {
    page-break-before: always;
  }
  
  .section {
    border-left: solid 4px;
    padding-left: 10px;
  }

  .social-link {
    display: block;
  }

  .dl-horizontal dt {
    width: 110px;
  }

  .dl-horizontal dd {
    margin-left: 120px;
  }

  .skills .skill-set {
    width: 50%;
    float: right;
  }

  .jumbotron {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  a.no-url-print:link:after, a.no-url-print:visited:after {
    content: "";
  }
}
