{% extends "base.html" %}
{% block title %}{{ config.data.name }} - {{ config.data.title }}{% endblock %}

{# No social_links in footer in the landing page #}
{% block footer_links %}
{% endblock %}

{% block head %}
{{ super() }}
<meta name="description" content="{{ config.data.name }} - {{ config.data.title }}">
<meta name="keywords" content="{{ config.data.keywords }}" />

<style>
    body {
        background-color: #f7f7f7;
        background-image: url("/assets/img/groovepaper.png");
    }
    footer {
        background: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.1));
    }
</style>
{% endblock %}

{% macro navbar() %}
<div id="local-navbar">
    <nav class="nav flex-column text-nowrap">
        <a class="nav-link" href="/blog">
            <i class="fa-solid fa-pen-to-square"></i> Blog
        </a>
        <a class="nav-link" href="{{ config.pdf_resume_path }}">
            <i class="fa-regular fa-file-pdf"></i> PDF Version
        </a>
        <hr/>
        <a class="nav-link">
            <i class="fa-solid fa-location-dot"></i> {{config.data.location}}
        </a>
        <a class="nav-link" href="mailto:info@amirkarimi.dev">
            <i class="fa-solid fa-envelope"></i> {{config.data.email}}
        </a>
        <a class="nav-link" href="tel:{{config.data.phone.replace(' ', '')}}">
            <i class="fa-solid fa-phone"></i> {{config.data.phone}}
        </a>
        <a class="nav-link link-pointer" onclick="gtag_report_conversion('{{ config.data.calendar }}')">
            <i class="fa-solid fa-calendar"></i> Schedule a Meeting
        </a>
        <hr/>
        <span class="nav-link nav-icons">
            <a href="{{ config.data.linkedin }}" title="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="{{ config.data.github }}" title="Github">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="{{ config.data.twitter }}" title="Twitter">
                <i class="fa-brands fa-square-twitter"></i>
            </a>
        </span>
    </nav>
</div>
{% endmacro %}

{% macro section_header(id, title, icon) %}
<div class="d-flex flex-row section-header">
    <h4 id="{{id}}">
        {#<i class="{{icon}} section-header-icon"></i>#}
        {{title}}
    </h4>
    <hr class="flex-fill ms-2"/>
</div>
{% endmacro %}

{% macro image() %}
<img class="rounded mb-4 shadow" style="width: 12em" src="/assets/img/amir4.jpg" alt="Amir's Face">
{% endmacro %}

{% block main %}
<div class="container mt-4">
    <nav class="d-lg-none navbar navbar-collapse mb-4 sticky-top me-2">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar"
            aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-2 px-1 py-2 rounded border bg-light" id="topNavbar">
            {{ navbar() }}
        </div>
    </nav>

    <div class="d-lg-none text-center">
        {{ image() }}
    </div>

    <div class="d-flex flex-row">
        <div class="me-5 d-none d-lg-block">
            {{ image() }}
            <div class="sticky-top">
                {{ navbar() }}
            </div>
        </div>
        <div class="flex-fill">
            <div>
                <div id="intro">
                    <div id="name">
                        {{ config.data.name }}
                    </div>
                    <div id="title">
                        {{ config.data.title }}
                    </div>
                    <div id="intro-text" class="my-2">
                        {{ config.data.intro_html|safe }}
                    </div>
                </div>

                <!-- SERVICES -->
                
                {{ section_header("services", "Services", "fa-solid fa-handshake-angle") }}
                {% for service in config.data.services %}
                    {% include 'resume/service.html' %}
                {% endfor %}

                {#
                <div class="mb-1">
                    {% for service in config.data.services %}
                        <div class="d-flex flex-row align-items-center my-2">
                            <i class="fa-solid fa-circle-chevron-right item-icon text-muted"></i>
                            <span class="text-truncate">{{service}}</span>
                        </div>
                    {% endfor %}
                </div>
                #}

                <!-- SKILLS -->

                {{ section_header("skills", "Skills", "fa-solid fa-hammer") }}

                <div class="row">
                    {% for skillset in config.data.skills %}
                    <div class="col-md-3 col-sm-6 mb-3 mb-md-0">
                        {% for skill in config.data.skills[skillset] %}
                        <div class="text-muted my-1">
                            {% with stack = config.data.stacks[skill] %}
                                <div class="d-flex flex-row align-items-center">
                                    <i class="{{stack.icon}} item-icon"></i>
                                    <span class="text-truncate">{{stack.title}}</span>
                                </div>
                            {% endwith %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>

                <!-- POSITIONS -->
                
                {{ section_header("positions", "Positions", "fa-solid fa-briefcase") }}
                {% for position in config.data.positions %}
                    {% include 'resume/position.html' %}
                {% endfor %}

                <!-- PROJECTS -->
                
                {{ section_header("projects", "Featured Projects", "fa-solid fa-star") }}
                {% for project in config.data.projects %}
                    {% if project.hide is not defined or not project.hide %}
                        {% include 'resume/project.html' %}
                    {% endif %}
                {% endfor %}

                <!-- EDUCATION -->
                
                {{ section_header("education", "Education", "fa-solid fa-graduation-cap") }}
                {% for degree in config.data.education %}
                    {% include 'resume/degree.html' %}
                {% endfor %}

                <!-- CERTIFICATIONS -->
                
                {{ section_header("certifications", "Certifications", "fa-solid fa-stamp") }}
                {% for certificate in config.data.certificates %}
                    {% include 'resume/certificate.html' %}
                {% endfor %}


                <!-- Schedule a meeting -->
                <div class="text-center mt-3">
                    <a class="btn btn-primary" onclick="gtag_report_conversion('{{ config.data.calendar }}')">
                        <i class="fa-solid fa-calendar"></i> Schedule a Meeting
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
