<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{ config.data.name }} - {{ config.data.title }}</title>
    <meta name="description" content="{{ config.data.name }} - {{ config.data.title }} - Resume">
    <meta name="keywords" content="{{ config.data.keywords }}" />
    <meta name="author" content="Amir Karimi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="stylesheet" href="/assets/css/resume_styles.css?v=3">
</head>

<body>
    <div class="doc-header">
        <div class="main">
            <div class="title">{{ config.data.name }}</div>
            <div class="subtitle">{{ config.data.title }}</div>
            <div class="intro">{{ config.data.intro }}</div>
        </div>
        <div class="info">
            <div class="last-update">Last update: {{ config.now.strftime('%b %Y') }}</div>
            <div><a href="{{ config.base_url }}">{{ config.domain_with_www }}</a></div>
            <div>{{ config.data.phone }} | {{ config.data.email }}</div>
            <div>{{ config.data.location }}</div>
        </div>
    </div>

    <div class="section">
        <div class="header" id="services">Services</div>

        <ul>
            {% for service in config.data.services %}
                <li>
                    {{ service.title }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="section">
        <div class="header">Skills</div>
            {% for skillset in config.data.skills %}
            <div class="skillset">
                <h4>{{skillset}}</h4>
                <ul>
                {% for skill in config.data.skills[skillset] %}
                    {% with stack = config.data.stacks[skill] %}
                        <li>
                            <i class="{{stack.icon}} item-icon"></i>
                            {{stack.title}}
                        </li>
                    {% endwith %}
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </ul>
    </div>

    <div class="section">
        <div class="header">Employment</div>

        {% for position in config.data.positions %}

        <div class="subsection-header">
            <div>{{ position.title }}</div>
            <div>{{ position.company }} - {{ position.location }}</div>
            <div>{{ position.start }}{% if position.end is defined and position.end %} - {{ position.end }}{% endif %}</div>
        </div>

        {{ position.description | markdown }}
        {% endfor %}
    </div>

    <div class="section">
        <div class="header" id="projects">Featured Projects</div>

        <ul>
            {% for project in config.data.projects %}
                {% if project.pdf_resume is defined and project.pdf_resume %}
                <li>
                    <strong>{{ project.title }}</strong> ({{ project.date[-4:] }}) - {{ project.description}}
                    <span class="item-endnote">
                        ({% for skill in project.stack %}{{ config.data.stacks[skill].title }}{{ ", " if not loop.last else "" }}{% endfor %})
                    </span>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        See more projects at <a href="{{ config.base_url }}#projects">{{ config.domain_with_www }}</a>.
    </div>

    <div class="section">
        <div class="header">Education</div>

        {% for degree in config.data.education %}
        <div class="subsection-header">
            <div>{{ degree.degree }}</div>
            <div>{{ degree.university }}</div>
            <div>{{ degree.start }} - {{ degree.end }}</div>
        </div>
        {{ degree.description | markdown }}
        {% endfor %}
    </div>

    <div class="section">
        <div class="header">Certifications</div>
        <ul>
            {% for certificate in config.data.certificates %}
            <li>
                <strong>{{ certificate.title }}</strong> ({{ certificate.date }}) - {{ certificate.source }} - {{ certificate.description }}
            </li>
            {% endfor %}
        </ul>
    </div>

</body>

</html>