<div class="expandable-item" x-data="{ open: false }">
    <div class="expandable-header d-flex flex-row align-items-center" @click="open = ! open">
        <i class="fa-solid text-muted me-2" :class="open ? 'fa-circle-chevron-up' : 'fa-circle-chevron-down'"></i>
        <div class="d-inline-block flex-fill">{% block title %}{% endblock %}</div>
        <div class="text-muted text-lg-end flex-end text-nowrap">
            {% block side %}{% endblock %}
        </div>
    </div>
    <div x-show="open" x-collapse>
        <div class="text-muted mb-2">{% block subtitle %}{% endblock %}</div>
        <div class="fw-light">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>