{% extends 'resume/_expandable.html' %}
{% block title %}{{ project.title }}{% endblock %}
{% block side %}
    <span class="icons-row">
    {% for skill in project.stack %}
        {% with stack = config.data.stacks[skill] %}
            <i class="{{stack.icon}}" title="{{ stack.title }}"></i>
        {% endwith %}
    {% endfor %}
    </span>
{% endblock %}
{% block subtitle %}{{ project.date }}{% endblock %}
{% block body %}
    {{ project.description | markdown }}
    <p>
        <span class="text-muted">{% for skill in project.stack %}{{ config.data.stacks[skill].title }}{{ ", " if not loop.last else "" }}{% endfor %}</span>
    </p>
{% endblock %}
