@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../../../node_modules/bootstrap/scss/bootstrap";

body, .navbar {
    font-family: "Rubik", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

footer {
    font-size: $small-font-size;
    background: $light;

    a:not(:hover) {
        text-decoration: none;
    }
}

blockquote {
    border-left: 0.3em solid $gray-200;
    padding-left: 1em;
}

.flex-basis-content {
    flex-basis: content;
}

.social-icons a {
    color: $secondary;
    text-decoration: none;
    width: 1.5em;
    height: 1.5em;
        
    &:hover {
        color: shade-color($secondary, 30%);
    }
}

#local-navbar {
    a {
        color: $secondary;
    }
    
    a.nav-link i {
        width: 1.2em;
    }
}


@keyframes blurry {
    from { filter: blur(100px); }
    to { filter: blur(0); }
}

#intro {

    #name {
        font-size: $h2-font-size;
        font-weight: $font-weight-semibold;
        color: $gray-700;
    }

    #title {
        font-size: $h3-font-size;
        font-weight: $font-weight-light;
        color: $gray-600;
    }

    #intro-text img {
        padding: 2px;

        &#amazon-logo {
            height: 1.3em;
        }

        &#disney-logo {
            height: 1.5em;
        }
    }
}

.page-toc {
    position: sticky;
    top: 2em;

    *, a {
        color: $text-muted;
    }

    a:not(:hover) {
        text-decoration: none;
    }

    .header {
        font-weight: $font-weight-semibold;
    }

    ul {
        list-style: none;
        padding-left: 0;

        ul {
            padding-left: 1em;
        }

        li, ul {
            line-height: 1.2;
            margin-top: 0.5em;
        }
    }
}

.blog-index {
    > h1 {
        margin-bottom: 1em;
    }

    .post {
        margin-bottom: 2em;
    }

    .date {
        color: $text-muted;
    }

    .title {
        @extend .mb-2;

        a {
            color: black;

            &:not(:hover) {
                text-decoration: none;
            }
        }
    }
}

.blog-index, .page {
    table {
        @extend .table;
        @extend .table-striped;

        thead {
            @extend .table-dark;
        }
    }

    img {
        max-width: 90%;

        &.center-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

code {
    font-family: 'Roboto Mono', monospace;
}

.codehilite {
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;

    pre {
        margin: 0;
    }
}

.item-icon {
    display: inline-block;
    margin-right: 0.3em;
}

.icons-row, .item-icon {
    font-size: 1.2em;
    width: 1.3em;
}

.expandable-item {
    min-height: 2em;
    margin-top: 0.3em;
}

.expandable-pointer, .link-pointer {
    cursor: pointer;
}

.section-header {
    margin-top: 1.3em;
    margin-bottom: 1.2em;

    h4 {
        font-size: $h4-font-size;
        margin: 0;
    }

    .section-header-icon {
        width: 1.1em;
    }
}

.nav-icons {
    font-size: 1.5em;

    a {
        text-decoration: none;
    }
}